.navbar {
    overflow: hidden;
    background-color:#FFC107;
  }
  .navbar a {
    float: left;
    display: block;
    color:black;
    font-weight: bold;
    text-align: center;
    padding: 3px;
    text-decoration: none;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }



.cuerpo{
background-color: #38393c;

}

.container {
    width: 100%;
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
}

.form-label{
    color: #FFC107;
}
.boton{
font-size: 24px;
background-color:#B1E3F0;
color: black;
border-radius:50px;
}
.form {
    
    width: 700px;
    display: flex;
    justify-content: center;
}

.desplegables{

    border-radius: 25px;
}
