<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleeaf.org">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="/estilos/perfil_fotografo.css">

        <script src="https://kit.fontawesome.com/ce8bb5c939.js" crossorigin="anonymous"></script>
        <title>Perfil del fotografo</title>
    </head>
    <body class="cuerpo"> 

        <header>
            <nav class="sticky navbar Titulo">
                <a th:href="@{/}" class="bienvenida"><img class="logo" src="/imagenes/logoCorporativo.png" alt="">FotoJob</a>
                <a th:href="@{/fotografo/inicio}" class="inicio">Inicio</a>
            </nav>
        </header>

        <div class="cont-1"> 

            <div class="cont-datos">
                <!-- <div class="cont-profilepic">
                        <img src="https://www.w3schools.com/w3images/avatar6.png" class="avatar">
                </div> -->
                <div>
                    <h2 th:text="|${fotografo.nombre} ${fotografo.apellido}|"></h2>
                </div>
                <div class="rating">
                    <div class="rating-prom">
                        <i class="fas fa-star"></i>
                        <h3>4,2</h3>

                    </div>
                   
                </div>

                <div class="cont-info">
                    <p th:text="|Precio base: ${fotografo.precio}|"></p>
                    <p th:text="|Categoria: ${fotografo.especializacion}|"></p>
                    <p th:text="|Telefono: ${fotografo.telefono}|"></p>
                </div>



                <div class="cont-botones">
                    <div class="btn-contacto-cont" >
                        <form th:action="@{/fotografo/subir-foto/__${fotografo.id}__}" class="subir-foto" >
                            <button class="btn-contacto">Subir fotos</button>
                        </form>

                    </div>
                    <form th:action="@{/cotizar/__${fotografo.id}__}" class="formulario-cotizacion" >
                        <button  type="submit" class="btn-contacto">Pedir Cotizacion</button>
                    </form>
                    <div class="btn-editar-cont">
                        <form th:action="@{/fotografo/editar/__${fotografo.id}__}" class="editar-fotografo" >
                            <button class="btn-contacto">Editar perfil</button>
                        </form>	
                    </div>
                </div>

                <div class="cont-galeria" id="galeria">
                    <div th:each="foto : ${fotografo.miniatura}" class="cont-img">
                        <img src="foto" class="img-galery">
                    </div>

                    <!-- 				Estos borrarlos cuando agrego thymeleaf-->

                </div>

                <section id="contenedor-principal">
                    <div id="contenedor-interno">
                        <img id="img-activa" src="" alt="galeria de imagenes">
                        <button id="btn-cierra" type="button">x</button>
                        <button id="btn-retrocede" type="button">&lt;</button>
                        <button id="btn-adelanta" type="button">&gt;</button>
                    </div>
                </section> 

                <!-- Aca va la caja de comentarios --
                <div class="cont-caja-coment">
                    <h4>Comentarios</h4>
                    <div class="cont-comentarios">

                        <div class="cont-nuevo-comentario">
                            <div class="nuevo-estrellas">
                                <p class="1es"></p>
                            </div>

                            <form>
                                <div class="form-group">
                                    <label for="formGroupExampleInput">Nombre</label>
                                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nombre Apellido">
                                </div>
                                <div class="form-group">
                                    <label for="formGroupExampleInput2"></label>
                                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Escriba su comentario aqui...">
                                </div>
                            </form>

                        </div>

                        <div class="comentario">
                            <div class="cont-estrellas">
                                <span class="5e"></span>
                            </div>
                        </div>
                    </div>
                </div> --->

            </div> 

            <footer>
            </footer> 

            <script src="/scripts/perfil_fotografo_galeria.js"></script>


    </body>
</html>